  <div class="card">
    <div id="request<#DATAROW field='TransactionNumber'>">
      <div class="card-body">
			  <div class="row">
			  	<div class="col-lg-8 col-md-12 text-muted">
				  	<div class="card-title h4">
							<a href="aeon.dll?&amp;Action=10&amp;Form=63&amp;Value=<#DATAROW field='TransactionNumber'>"><#DATAROW field="ItemTitle"></a>
								<span class="text-muted"><#DATAROW field="ItemDate"></span>
						</div>
						<div class="card-subtitle h5 mb2 text-muted"><#DATAROW field="ItemSubtitle"></div>
				 </div>

      	<div class="col-lg-4 col-md-12 text-right">
			  	<div class="large-btn-group" role="group" aria-label="Actions for Reqest <#DATAROW field='TransactionNumber'>">
				  	<a class="btn btn-primary menuViewItemFile <#DATAROW field='RequestActionAllowed' name='ViewFile' disabledValue='disabled'>" href="aeon.dll?Action=10&amp;Form=75&amp;Value=<#DATAROW field='TransactionNumber'>">View</a>
				  	<a class="btn btn-secondary delete_link menuDeleteItemFile <#DATAROW field='RequestActionAllowed' name='DeleteFile' disabledValue='disabled'>" href="aeon.dll?Action=22&amp;Type=11&amp;Value=<#DATAROW field='TransactionNumber'>">Delete</a>
							<div class="btn-group" role="group">
								<button id="btnGroupDrop<#DATAROW field='TransactionNumber'>" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Actions
								</button>
						  	<div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop<#DATAROW field='TransactionNumber'>">
							  	<a class="dropdown-item btn btn-light" href="aeon.dll?Action=10&amp;Form=63&amp;Value=<#DATAROW field='TransactionNumber'>"><span class="fa fa-info-circle mr-1"></span> &nbsp;Details</a>
									
									<a class="dropdown-item btn btn-light menuEdit <#DATAROW field='RequestActionAllowed' name='ViewFile' disabledValue='disabled'>" href="aeon.dll?Action=10&amp;Form=75&amp;Value=<#DATAROW field='TransactionNumber'>"><span aria-hidden="true" class="fas fa-eye text-primary mr-1"></span> &nbsp;View Item</a>
									<a class="dropdown-item btn btn-light menuEdit <#DATAROW field='RequestActionAllowed' name='Cancel' disabledValue='disabled'>" href="aeon.dll?Action=21&amp;Type=10&amp;Value=<#DATAROW field='TransactionNumber'>"><span aria-hidden="true" class="fas fa-ban text-danger"></span> &nbsp;Cancel Request</a>
							  	<a class="dropdown-item btn btn-light menuClone <#DATAROW field='RequestActionAllowed' name='RequestCopy' disabledValue='d-none'>" href="aeon.dll?Action=11&amp;Form=32&amp;Value=<#DATAROW field='TransactionNumber'>"><span aria-hidden="true" class="fas fa-copy text-primary"></span> &nbsp;Clone Request</a>
							  	<a class="dropdown-item btn btn-light menuPhotoduplication <#DATAROW field='RequestActionAllowed' name='CloneToCopy' disabledValue='d-none'>" href="aeon.dll?Action=11&amp;Form=33&amp;Value=<#DATAROW field='TransactionNumber'>"><span aria-hidden="true" class="fas fa-cart-plus text-primary"></span> &nbsp;Clone to Copy</a>
									<a class="dropdown-item btn btn-light menuExportRIS"  href="aeon.dll?Action=10&amp;Form=121&amp;Value=<#DATAROW field='TransactionNumber'>"> <span aria-hidden="true" class="fas fa-download text-primary"></span> &nbsp;Export Citation</a>
							 	</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-7 col-md-12">
						<div class="field text-muted">Transaction Number<span class="field-value font-weight-bold ml-1"> <#DATAROW field="TransactionNumber"></span></div>
							<div class="field text-muted">File Size
							<span class="field-value font-weight-bold ml-1"><#DATAROW field='FileSize'></span>
						</div>
					</div>
						<div class="col-lg-5 col-md-12 text-right">
							<div  class="mb2 font-weight-bold text-muted" data-toggle="tooltip" data-placement="right" title="Moved to <#DATAROW field='TransactionStatus'> on <#DATAROW field='TransactionDate'>">
								Item Status&nbsp;<span class="field-value field-text-muted"><#DATAROW field="TransactionStatus"></span>
							</div>

							<div  class="field mb2 font-weight-bold text-muted" data-toggle="tooltip" data-placement="right" title="Moved to <#DATAROW field='PhotoduplicationStatus'> on <#DATAROW field='PhotoduplicationDate'>">
								Order Status&nbsp;<span class="field-value field-text-muted"><#DATAROW field="PhotoduplicationStatus"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
